<div class="input-append">
{#    <input type="text" class="input-xxlarge" data-bind="value: newUrl">#}
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Start Stream') }}</button>
{#    <button class="btn btn-primary" data-bind="click: clearImageFolder">{{ _('Remove Images') }}</button>#}
{#    <label>#}
{#        Feed rate modifier:#}
{#    </label>#}
</div>

{#<div class="input-append control-box">#}
{#    <input type="number" class="input-mini" min="1" step="1" data-bind="textInput: settings.plugins.helloworld.z_offset">#}
{#    <span class="add-on">%</span>#}
{#    <button class="btn" data-bind="click: generateGcode" disabled="">Set</button>#}
{#</div>#}

{#<iframe data-bind="attr: {src: currentUrl}"></iframe>#}

<canvas id="headCanvas" width="585" height="410"></canvas>

